@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Josefin+Sans");
* {
  margin: 0; }

body {
  width: 100%;
  font-family: 'Josefin Sans', sans-serif; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

.no-margin {
  margin: 0 !important; }

.margin-top-10 {
  margin-top: 10px !important; }

.left {
  float: left; }

.right {
  float: right; }

.navbar-default {
  background: rgba(230, 230, 230, 0.35);
  border: 0; }

.navbar-toggle {
  background: rgba(230, 230, 230, 0.6); }

.navbar-brand {
  font-family: 'Abril Fatface', cursive; }
  .navbar-brand img {
    height: 100%; }

.navbar .nav a {
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.8) !important; }
.navbar .nav li:hover {
  background-color: rgba(230, 230, 230, 0.5); }

.spacer {
  height: 100vh; }

.row {
  padding-top: 70px;
  height: 100vh; }

.main {
  position: absolute;
  left: 0;
  height: 100vmin;
  width: 100vmax;
  background-image: url("../assets/pic.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2; }
  @media (orientation: portrait) and (max-device-width: 767px) {
    .main {
      height: 100vh;
      width: 100vw;
      background-position: 45% center; } }
  @media (orientation: landscape) and (max-device-width: 767px) {
    .main {
      background-position: 35% 20%;
      background-size: 135%; } }

.tv-bg {
  position: absolute;
  left: 0;
  height: 100vmin;
  width: 100vmax;
  z-index: -1;
  background-image: url("https://media.giphy.com/media/iF3M9gPPCdulq/giphy.gif"); }
  @media (orientation: portrait) and (max-device-width: 767px) {
    .tv-bg {
      height: 100vh;
      width: 100vw; } }

.tv {
  position: absolute;
  transform: rotate(1.3deg); }

.tv-main {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
  -webkit-box-shadow: inset 0px 0px 51px -8px #383838;
  -moz-box-shadow: inset 0px 0px 51px -8px #383838;
  box-shadow: inset 0px 0px 51px -8px #383838; }

.tv-click {
  z-index: 3;
  cursor: pointer; }

.gif-container {
  height: 260px;
  width: 80%;
  margin: 0 auto;
  background-color: gray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .gif-container.gif-short {
    height: 0; }
    .gif-container.gif-short .scroll-btn {
      display: none; }
  .gif-container .scroll-btn {
    cursor: pointer;
    height: 100%;
    width: auto;
    padding-top: 120px;
    background: rgba(230, 230, 230, 0.3);
    color: #cdcdcd;
    font-weight: bold; }
    .gif-container .scroll-btn:hover {
      background: rgba(230, 230, 230, 0.6); }

@media (max-width: 699px) {
  .tv {
    top: 22vmin;
    left: 28vmax;
    height: 20vmin;
    width: 33vmax;
    display: none; } }
@media (min-width: 700px) {
  .tv {
    top: 23vmin;
    left: 27vmax;
    height: 20vmin;
    width: 35vmax;
    display: block; } }
@media (min-width: 750px) {
  .tv {
    top: 23vmin;
    left: 29vmax;
    height: 21vmin;
    width: 32.5vmax;
    display: block; } }
@media (min-width: 800px) {
  .tv {
    top: 23vmin;
    left: 30vmax;
    height: 21vmin;
    width: 31vmax;
    display: block; } }
@media (min-width: 850px) {
  .tv {
    top: 23vmin;
    left: 31vmax;
    height: 21vmin;
    width: 29vmax;
    display: block; } }
@media (min-width: 900px) {
  .tv {
    top: 22vmin;
    left: 32vmax;
    height: 22vmin;
    width: 28vmax;
    display: block; } }
@media (min-width: 950px) {
  .tv {
    top: 21vmin;
    left: 33vmax;
    height: 22.5vmin;
    width: 26.5vmax;
    display: block; } }
@media (min-width: 1000px) {
  .tv {
    top: 20vmin;
    left: 33vmax;
    height: 24vmin;
    width: 26.5vmax;
    display: block; } }
@media (min-width: 1050px) {
  .tv {
    top: 13vmin;
    left: 33vmax;
    height: 29vmin;
    width: 26.5vmax;
    display: block; } }
@media (orientation: portrait) and (max-device-width: 767px) {
  .tv {
    top: 23vh;
    left: 16vw;
    height: 21vh;
    width: 62vw;
    display: block; } }
@media (orientation: landscape) and (max-device-width: 767px) {
  .tv {
    top: 25vmin;
    left: 32vmax;
    height: 38vmin;
    width: 36vmax;
    display: block; } }

/*# sourceMappingURL=index.css.map */
