@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Barlow+Semi+Condensed:400,700");
@keyframes heartbeat {
  0% {
    transform: scale(0.75); }
  20% {
    transform: scale(1); }
  40% {
    transform: scale(0.75); }
  60% {
    transform: scale(1); }
  80% {
    transform: scale(0.75); }
  100% {
    transform: scale(0.75); } }
#loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: ghostwhite;
  background-image: url("../assets/texture.png");
  z-index: 1000000;
  transition: opacity 1s; }

#heart {
  position: relative;
  width: 100px;
  height: 90px;
  animation: heartbeat 1s infinite;
  margin: calc(50vh - 45px) auto;
  opacity: 0.9; }

#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #ad4351;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%; }

#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

* {
  margin: 0; }

body {
  width: 100%;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: url("../assets/texture.png"); }

p, ul {
  font-size: 1.4em; }

.center {
  text-align: center; }

.cf:after {
  display: table;
  clear: both;
  content: ''; }

.no-margin {
  margin: 0 !important; }

.margin-top-10 {
  margin-top: 10px !important; }

.margin-top-20 {
  margin-top: 20px !important; }

.left {
  float: left; }

.right {
  float: right; }

.navbar-default {
  border: 0; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent !important; }
  .navbar-default.colorful {
    transition: 2s;
    background-color: rgba(230, 230, 230, 0.95); }
    .navbar-default.colorful .navbar-brand, .navbar-default.colorful .navbar-nav a {
      color: rgba(27, 96, 128, 0.65) !important; }
    .navbar-default.colorful .icon-bar {
      transition: 2s;
      background-color: rgba(27, 96, 128, 0.65) !important; }
  .navbar-default.white {
    transition: 1s;
    background-color: rgba(27, 96, 128, 0.65); }
    .navbar-default.white .navbar-brand, .navbar-default.white .navbar-nav a {
      color: rgba(220, 220, 220, 0.8); }
    .navbar-default.white .navbar-nav a:hover, .navbar-default.white .navbar-nav a:focus {
      color: rgba(220, 220, 220, 0.8) !important; }
    .navbar-default.white .icon-bar {
      transition: 2s;
      background-color: rgba(220, 220, 220, 0.8) !important; }
  .navbar-default .navbar-brand, .navbar-default .navbar-nav a {
    transition: color 2s; }
  .navbar-default .navbar-brand {
    font-family: 'Playfair Display', serif; }
    .navbar-default .navbar-brand:active, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:visited {
      color: #f0f0f0; }
    .navbar-default .navbar-brand img {
      height: 100%; }
  .navbar-default .navbar-toggle {
    background: transparent;
    border: 0; }

.spacer {
  height: 100vh; }

.row {
  padding-top: 70px;
  padding-bottom: 70px; }

.footer {
  height: 100px;
  position: relative; }
  .footer span {
    position: absolute;
    right: 140px;
    bottom: 30px; }
  .footer .footer-link {
    position: absolute;
    width: 225px;
    right: 0;
    bottom: 0; }

.main-container {
  position: absolute;
  left: 0;
  height: 100vmin;
  width: 100vw;
  width: 100vmax;
  z-index: 2; }
  @media (orientation: portrait) and (max-device-width: 767px) {
    .main-container {
      height: 100vh;
      width: 100vw; } }

.main-bg {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  .main-bg:before {
    content: "";
    position: absolute;
    width: 103%;
    height: 103%;
    top: -1.5%;
    left: -1.5%;
    z-index: -1;
    background-image: url("../assets/bg-min.png");
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    -webkit-transform: rotate(0.9deg);
    transform: rotate(0.9deg); }
    @media (orientation: portrait) and (max-device-width: 767px) {
      .main-bg:before {
        width: 104%;
        height: 104%;
        top: -2%;
        left: -2%;
        background-position: 41% 20%; } }
    @media (orientation: landscape) and (max-device-width: 767px) {
      .main-bg:before {
        width: 104%;
        height: 104%;
        top: -2%;
        left: -2%;
        background-position: 35% 20%;
        background-size: 115%; } }

.tv-bg {
  position: absolute;
  left: 0;
  height: 100vmin;
  width: 100vw;
  width: 100vmax;
  z-index: -1;
  background-image: url("https://media.giphy.com/media/iF3M9gPPCdulq/giphy.gif"); }
  @media (orientation: portrait) and (max-device-width: 767px) {
    .tv-bg {
      height: 100vh;
      width: 100vw; } }

.tv {
  position: absolute; }

.tv-main {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
  -webkit-box-shadow: inset 0px 0px 51px -8px #383838;
  -moz-box-shadow: inset 0px 0px 51px -8px #383838;
  box-shadow: inset 0px 0px 51px -8px #383838; }

.tv-click {
  z-index: 3;
  cursor: pointer; }

.gif-container {
  height: 260px;
  width: 80%;
  margin: 0 auto;
  background-color: gray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .gif-container.gif-short {
    height: 0; }
    .gif-container.gif-short .scroll-btn {
      display: none; }
  .gif-container .scroll-btn {
    cursor: pointer;
    height: 100%;
    width: auto;
    padding-top: 120px;
    background: rgba(230, 230, 230, 0.3);
    color: #cdcdcd;
    font-weight: bold; }
    .gif-container .scroll-btn:hover {
      background: rgba(230, 230, 230, 0.6); }

@media (max-width: 699px) {
  .tv {
    top: 22vmin;
    left: 28vw;
    height: 19.41176vw;
    width: 33vw;
    left: 28vmax;
    height: 19.41176vmax;
    width: 33vmax;
    display: none; } }
@media (min-width: 700px) {
  .tv {
    top: 19vmin;
    left: 17vw;
    height: 30vw;
    width: 51vw;
    left: 17vmax;
    height: 30vmax;
    width: 51vmax;
    display: block; } }
@media (min-width: 750px) {
  .tv {
    top: 19vmin;
    left: 19vw;
    height: 27.94118vw;
    width: 47.5vw;
    left: 19vmax;
    height: 27.94118vmax;
    width: 47.5vmax;
    display: block; } }
@media (min-width: 800px) {
  .tv {
    top: 19vmin;
    left: 21vw;
    height: 26.17647vw;
    width: 44.5vw;
    left: 21vmax;
    height: 26.17647vmax;
    width: 44.5vmax;
    display: block; } }
@media (min-width: 850px) {
  .tv {
    top: 19vmin;
    left: 23vw;
    height: 24.41176vw;
    width: 41.5vw;
    left: 23vmax;
    height: 24.41176vmax;
    width: 41.5vmax;
    display: block; } }
@media (min-width: 900px) {
  .tv {
    top: 19.5vmin;
    left: 24.5vw;
    height: 23.23529vw;
    width: 39.5vw;
    left: 24.5vmax;
    height: 23.23529vmax;
    width: 39.5vmax;
    display: block; } }
@media (min-width: 950px) {
  .tv {
    top: 19.5vmin;
    left: 25vw;
    height: 22.64706vw;
    width: 38.5vw;
    left: 25vmax;
    height: 22.64706vmax;
    width: 38.5vmax;
    display: block; } }
@media (min-width: 1000px) {
  .tv {
    top: 20vmin;
    left: 25vw;
    height: 22.64706vw;
    width: 38.5vw;
    left: 25vmax;
    height: 22.64706vmax;
    width: 38.5vmax;
    display: block; } }
@media (min-width: 1050px) {
  .tv {
    top: 20vmin;
    left: 25vw;
    height: 22.64706vw;
    width: 38.5vw;
    left: 25vmax;
    height: 22.64706vmax;
    width: 38.5vmax;
    display: block; } }
@media (orientation: portrait) and (max-device-width: 767px) {
  .tv {
    top: 19vh;
    left: 3vw;
    height: 31vh;
    width: 93vw;
    display: block; } }
@media (orientation: landscape) and (max-device-width: 767px) {
  .tv {
    top: 19vmin;
    left: 23vw;
    height: 26.47059vw;
    width: 45vw;
    left: 23vmax;
    height: 26.47059vmax;
    width: 45vmax;
    display: block; } }
h1 {
  text-align: center; }

.detail-list {
  list-style: none;
  padding-left: 0;
  text-align: center; }
  .detail-list li {
    margin: 10px; }
    .detail-list li:after {
      display: table;
      clear: both;
      content: ''; }

#map {
  height: 480px;
  width: 100%; }
  @media (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    #map {
      height: 280px;
      width: 90%; } }
  @media (max-width: 767px) {
    #map {
      height: 40vh;
      width: 90%; } }

.pic {
  width: 300px;
  margin: -130px 20px 20px -150px;
  padding: 10px;
  max-height: 360px;
  border: 1px solid ghostwhite;
  background-color: white;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .pic.right {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    transform: rotate(3deg);
    margin: -130px -150px 20px 20px; }
  @media (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .pic {
      display: block;
      float: none !important;
      margin: -130px auto 20px auto !important; } }
  @media (max-width: 767px) {
    .pic {
      display: block;
      float: none !important;
      margin: -130px auto 20px auto !important; } }
  .pic .img {
    display: inline-block;
    overflow: hidden;
    width: 280px;
    max-height: 280px; }
  .pic .caption {
    padding-top: 5px;
    font-size: 0.95em;
    font-family: monospace; }

.custom-icon,
.list-icon {
  height: 30px !important;
  width: 30px !important;
  margin-left: -15px !important;
  margin-top: -15px !important;
  overflow: hidden; }
  .custom-icon div,
  .list-icon div {
    border-radius: 50%;
    border: 2px solid ghostwhite;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 3px; }
  .custom-icon i,
  .list-icon i {
    color: white; }
  .custom-icon div.attraction,
  .list-icon div.attraction {
    background-color: #5E4B5F; }
  .custom-icon div.logistics,
  .list-icon div.logistics {
    background-color: #C64644; }
  .custom-icon div.food,
  .list-icon div.food {
    background-color: #1b6080; }

.list-icon {
  margin-left: auto !important;
  margin-top: auto !important;
  display: inline-block;
  float: left;
  margin: 0 3px 3px 0; }
  .list-icon div {
    padding-top: 0;
    border: 0; }
  .list-icon i {
    font-size: 0.9em;
    margin-left: 0.05em; }

.map-list {
  list-style: none;
  overflow-y: auto;
  height: 520px;
  margin: 0;
  padding: 0 0 5px 0;
  border-radius: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .map-list li {
    padding: 5px;
    cursor: pointer;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray; }
  .map-list li:first-of-type {
    border-top: none; }
  .map-list li:last-of-type {
    border-bottom: none; }
  .map-list p {
    font-size: 0.85em;
    padding-left: 33px;
    padding-top: 3px; }
  @media (max-width: 767px) {
    .map-list {
      height: 30vh;
      width: 90%; } }

.map-toggle-list {
  list-style: none;
  padding-left: 0;
  display: block;
  margin: 0;
  width: 100%; }
  @media (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .map-toggle-list {
      width: 90%;
      margin: 0; } }
  @media (max-width: 767px) {
    .map-toggle-list {
      width: 90%;
      margin: 0; } }
  .map-toggle-list li {
    position: relative;
    float: left;
    width: calc((100% / 3) - 4px);
    cursor: pointer;
    height: 40px;
    margin: 0 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    text-align: center;
    padding: 0 5px;
    line-height: 40px; }
    .map-toggle-list li.inactive:after {
      content: '';
      position: absolute;
      top: 19px;
      left: 10%;
      display: block;
      width: 80%;
      height: 1px;
      border: 2px solid rgba(248, 248, 255, 0.8); }
  .map-toggle-list li.attraction {
    background-color: #5E4B5F; }
  .map-toggle-list li.attraction.inactive {
    background-color: rgba(94, 75, 95, 0.6); }
  .map-toggle-list li.logistics {
    background-color: #C64644; }
  .map-toggle-list li.logistics.inactive {
    background-color: rgba(198, 70, 68, 0.6); }
  .map-toggle-list li.food {
    background-color: #1b6080; }
  .map-toggle-list li.food.inactive {
    background-color: rgba(27, 96, 128, 0.6); }

/*# sourceMappingURL=index.css.map */
