//mixins
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-height: 1px;

@mixin cf {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}

@mixin tablet {
  @media (min-device-width: #{$tablet-width}) and (max-device-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (orientation: portrait) and (min-device-width: #{$tablet-width}) and (max-device-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (orientation: landscape) and (min-device-width: #{$tablet-width}) and (max-device-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-device-width: #{$mobile-width}) and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

@mixin landscape {
  @media (orientation: landscape) and (max-device-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) and (max-device-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-device-width: #{$desktop-width}) and (min-device-height: #{$desktop-height}){
    @content;
  }
}

@mixin tv-media($t, $l, $h, $w, $mobile, $hide){
  .tv{
    @if $mobile == 1 {
      top: ($t)+vh;
      left: ($l)+vw;
      height: ($h)+vh;
      width: ($w)+vw;
    }@else{
      top: ($t)+vmin;
      left: ($l)+vw;
      height: ($w/1.7)+vw;
      width: ($w)+vw;
      left: ($l)+vmax;
      height: ($w/1.7)+vmax;
      width: ($w)+vmax;
    }
    @if $hide == 1 {
      display: none;
    }@else{
      display: block;
    }
  }
}

@keyframes heartbeat {
  0% {
    transform: scale( .75);
  }
  20% {
    transform: scale( 1);
  }
  40% {
    transform: scale( .75);
  }
  60% {
    transform: scale( 1);
  }
  80% {
    transform: scale( .75);
  }
  100% {
    transform: scale( .75);
  }
}

#loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: ghostwhite;
  background-image: url("../assets/texture.png");
  z-index:1000000;
  transition: opacity 1s;
}

#heart {
  position: relative;
  width: 100px;
  height: 90px;
  animation: heartbeat 1s infinite;
  margin: calc(50vh - 45px) auto;
  opacity: 0.9;
}

#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #ad4351;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
