// sass --watch sass:css

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Barlow+Semi+Condensed:400,700');
@import "_media.scss";
$color: rgba(27, 96, 128, 0.65);
$mapColors: #5E4B5F, #C64644, rgb(27, 96, 128);
$mapClasses: attraction, logistics, food;
$mobileScrollWidth: 90%;

*{
  margin: 0;
}
body{
  width: 100%;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: url('../assets/texture.png');
}
p, ul{
  font-size: 1.4em;
}
.center {
  text-align: center;
}

.cf {
  @include cf;
}

.no-margin{
  margin: 0 !important;
}
.margin-top-10{
  margin-top: 10px !important;
}
.margin-top-20{
  margin-top: 20px !important;
}
.left{
  float: left;
}
.right{
  float: right;
}
.navbar-default{
  border: 0;
  .navbar-toggle {
    &:hover,&:focus{
      background-color: rgba(0,0,0,0) !important;
    }
  }
  &.colorful {
    transition: 2s;
    background-color: rgba(230,230,230,0.95);
    .navbar-brand, .navbar-nav a {
      color: $color !important;
    }
    .icon-bar {
      transition: 2s;
      background-color: $color !important;
    }
  }
  &.white {
    transition: 1s;
    background-color: $color;
    .navbar-brand, .navbar-nav a {
      color: rgba(220,220,220,0.8);
    }
    .navbar-nav a {
      &:hover,&:focus{
        color: rgba(220,220,220,0.8) !important;
      }
    }
    .icon-bar {
      transition: 2s;
      background-color: rgba(220,220,220,0.8) !important;
    }
  }
  .navbar-brand, .navbar-nav a {
    transition: color 2s;
  }
  .navbar-brand {
    font-family: 'Playfair Display', serif;
    &:active,&:hover,&:focus,&:visited{
      color: rgb(240,240,240);
    }
    & img{
      height: 100%;
    }
  }
  .navbar-toggle{
    background: rgba(0,0,0,0);
    border: 0;
  }
}
.spacer{
  height: 100vh;
}
.row{
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer {
  height: 100px;
  position: relative;
  span {
    position: absolute;
    right: 140px;
    bottom: 30px;
  }
  .footer-link {
    position: absolute;
    width: 225px;
    right: 0;
    bottom: 0;
  }
}

.main-container{
  position: absolute;
  left: 0;
  height: 100vmin;
  width: 100vw;
  width: 100vmax;
  z-index: 2;
  @include portrait {
    height: 100vh;
    width: 100vw;
  }
}

.main-bg{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  &:before{
    content: "";
    position: absolute;
    width: 103%;
    height: 103%;
    top: -1.5%;
    left: -1.5%;
    z-index: -1;
    background-image: url('../assets/bg-min.png');
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    -webkit-transform: rotate(0.9deg);
    transform: rotate(0.9deg);
    @include portrait {
      width: 104%;
      height: 104%;
      top: -2%;
      left: -2%;
      background-position: 41% 20%;
    }
    @include landscape {
      width: 104%;
      height: 104%;
      top: -2%;
      left: -2%;
      background-position: 35% 20%;
      background-size: 115%;
    }
  }
}

.tv-bg{
  position: absolute;
  left: 0;
  height: 100vmin;
  width: 100vw;
  width: 100vmax;
  @include portrait {
    height: 100vh;
    width: 100vw;
  }
  z-index: -1;
  background-image: url('https://media.giphy.com/media/iF3M9gPPCdulq/giphy.gif');
}
.tv{
  position: absolute;
}
.tv-main{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  // z-index: 5;
  // border: 2px solid red;
  // opacity: 0.4;
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
  -webkit-box-shadow: inset 0px 0px 51px -8px rgba(56,56,56,1);
  -moz-box-shadow: inset 0px 0px 51px -8px rgba(56,56,56,1);
  box-shadow: inset 0px 0px 51px -8px rgba(56,56,56,1);
}
.tv-click{
  z-index: 3;
  cursor: pointer;
}

.gif-container{
  height: 260px;
  width: 80%;
  margin: 0 auto;
  background-color: gray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &.gif-short{
    height: 0;
    .scroll-btn{
      display: none;
    }
  }
  .scroll-btn{
    cursor: pointer;
    height: 100%;
    width: auto;
    padding-top: 120px;
    background: rgba(230,230,230,0.3);
    color: #cdcdcd;
    font-weight: bold;
    &:hover{
      background: rgba(230,230,230,0.6);
    }
  }
}

@media (max-width: 699px)  { @include tv-media(22, 28, 20, 33, 0, 1) }
@media (min-width: 700px)  { @include tv-media(19, 17, 31, 51, 0, 0) }
@media (min-width: 750px)  { @include tv-media(19, 19, 31, 47.5, 0, 0) }
@media (min-width: 800px)  { @include tv-media(19, 21, 31, 44.5, 0, 0) }
@media (min-width: 850px)  { @include tv-media(19, 23, 31.5, 41.5, 0, 0) }
@media (min-width: 900px)  { @include tv-media(19.5, 24.5, 31.5, 39.5, 0, 0) }
@media (min-width: 950px)  { @include tv-media(19.5, 25, 32.5, 38.5, 0, 0) }
@media (min-width: 1000px) { @include tv-media(20, 25, 33, 38.5, 0, 0) }
@media (min-width: 1050px) { @include tv-media(20, 25, 41, 38.5, 0, 0) }
@include portrait {
  @include tv-media(19, 3, 31, 93, 1, 0)
}
@include landscape {
  @include tv-media(19, 23, 48, 45, 0, 0)
}
// @include tablet-portrait {
//   @include tv-media(25, 25, 25, 25, 1, 0)
// }
// @include tablet-landscape {
//   @include tv-media(25, 25, 25, 25, 0, 0)
// }

h1 {
  text-align: center;
}
.detail-list {
  list-style: none;
  padding-left: 0;
  text-align: center;
  li {
    @include cf;
    margin: 10px;
  }
}

#map {
  height: 480px;
  width: 100%;
  @include mobile {
    height: 280px;
    width: $mobileScrollWidth;
  }
  @media (max-width: 767px) {
    height: 40vh;
    width: $mobileScrollWidth;
  }
}

.pic {
  width: 300px;
  margin: -130px 20px 20px -150px;
  padding: 10px;
  max-height: 360px;
  border: 1px solid ghostwhite;
  background-color: white;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &.right {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    transform: rotate(3deg);
    margin: -130px -150px 20px 20px;
  }
  @include mobile {
    display: block;
    float: none !important;
    margin: -130px auto 20px auto !important;
  }
  @media (max-width: 767px) {
    display: block;
    float: none !important;
    margin: -130px auto 20px auto !important;
  }
  .img {
    display: inline-block;
    overflow: hidden;
    width: 280px;
    max-height: 280px;
  }
  .caption {
    padding-top: 5px;
    font-size: 0.95em;
    font-family: monospace;
  }
}

.custom-icon,
.list-icon  {
  height: 30px !important;
  width: 30px !important;
  margin-left: -15px !important;
  margin-top: -15px !important;
  overflow: hidden;
  div {
    border-radius: 50%;
    border: 2px solid ghostwhite;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 3px;
  }
  i {
    color: white;
  }
  @for $i from 1 through length($mapColors) {
    div.#{nth($mapClasses, $i)} {
      background-color: nth($mapColors, $i)
    }
  }
}

.list-icon {
  margin-left: auto !important;
  margin-top: auto !important;
  display: inline-block;
  float: left;
  margin: 0 3px 3px 0;
  div {
    padding-top: 0;
    border: 0;
  }
  i {
    font-size: 0.9em;
    margin-left: 0.05em;
  }
}

.map-list {
  list-style: none;
  overflow-y: auto;
  height: 520px;
  margin: 0;
  padding: 0 0 5px 0;
  border-radius: 5px;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  background: rgba(255,255,255,0.3);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  li {
    padding: 5px;
    cursor: pointer;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
  }
  li:first-of-type {
    border-top: none;
  }
  li:last-of-type {
    border-bottom: none;
  }
  p {
    font-size: 0.85em;
    padding-left: 33px;
    padding-top: 3px;
  }
  @media (max-width: 767px) {
    height: 30vh;
    width: $mobileScrollWidth;
  }
}

.map-toggle-list {
  list-style: none;
  padding-left: 0;
  display: block;
  margin: 0;
  width: 100%;
  @include mobile {
    width: $mobileScrollWidth;
    margin: 0;
  }
  @media (max-width: 767px)  {
    width: $mobileScrollWidth;
    margin: 0;
  }
  li {
    position: relative;
    float: left;
    width: calc((100% / #{length($mapClasses)}) - 4px);
    cursor: pointer;
    height: 40px;
    margin: 0 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    text-align: center;
    padding: 0 5px;
    line-height: 40px;
    &.inactive:after {
      content: '';
      position: absolute;
      top: 19px;
      left: 10%;
      display: block;
      width: 80%;
      height: 1px;
      border: 2px solid rgba(ghostwhite, 0.8);
    }
  }
  @for $i from 1 through length($mapColors) {
    li.#{nth($mapClasses, $i)} {
      background-color: nth($mapColors, $i)
    }
    li.#{nth($mapClasses, $i)}.inactive {
      background-color: rgba(nth($mapColors, $i), 0.6);
    }
  }
}
