// sass --watch sass:css

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Josefin+Sans');
@import "_media.scss";

*{
  margin: 0;
}
body{
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  background: url('../assets/texture.png');
}
p, ul{
  font-size: 1.4em;
}

.cf {
  @include cf;
}

.no-margin{
  margin: 0 !important;
}
.margin-top-10{
  margin-top: 10px !important;
}
.left{
  float: left;
}
.right{
  float: right;
}
.navbar-default{
  border: 0;
  &.colorful {
    transition: 2s;
    background-color: rgba(230,230,230,0.95);
    .navbar-brand {
      color: #4f839b !important;
    }
  }
  &.white {
    transition: 1s;
    background-color: rgba(230,230,230,0.35);
    .navbar-brand {
      color: rgba(220,220,220,0.8);
    }
  }
  .navbar-brand{
    transition: color 2s;
    font-family: 'Abril Fatface', cursive;
    &:active,&:hover,&:focus,&:visited{
      color: rgb(240,240,240);
    }
    & img{
      height: 100%;
    }
  }
  .navbar-toggle{
    background: rgba(0,0,0,0);
    border: 0;
  }
}
.navbar{
  .nav a{
    font-size: 1.3em;
    color: rgba(30,30,30,0.8) !important;
    font-weight: bold;
  }
  .nav li:hover{
    background-color: rgba(230,230,230,0.5);
  }
}
.spacer{
  height: 100vh;
}
.row{
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer {
  height: 100px;
  position: relative;
  span {
    position: absolute;
    right: 140px;
    bottom: 30px;
  }
  .footer-link {
    position: absolute;
    width: 225px;
    right: 0;
    bottom: 0;
  }
}

.main-container{
  position: absolute;
  left: 0;
  height: 100vmin;
  width: 100vmax;
  z-index: 2;
  @include portrait {
    height: 100vh;
    width: 100vw;
  }
}

.main-bg{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  &:before{
    content: "";
    position: absolute;
    width: 103%;
    height: 103%;
    top: -1.5%;
    left: -1.5%;
    z-index: -1;
    background-image: url('../assets/bg-min.png');
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    -webkit-transform: rotate(0.9deg);
    transform: rotate(0.9deg);
    @include portrait {
      width: 104%;
      height: 104%;
      top: -2%;
      left: -2%;
      background-position: 41% 20%;
    }
    @include landscape {
      width: 104%;
      height: 104%;
      top: -2%;
      left: -2%;
      background-position: 35% 20%;
      background-size: 115%;
    }
  }
}

.tv-bg{
  position: absolute;
  left: 0;
  height: 100vmin;
  width: 100vmax;
  @include portrait {
    height: 100vh;
    width: 100vw;
  }
  z-index: -1;
  background-image: url('https://media.giphy.com/media/iF3M9gPPCdulq/giphy.gif');
}
.tv{
  position: absolute;
}
.tv-main{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  // z-index: 5;
  // border: 2px solid red;
  // opacity: 0.4;
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
  -webkit-box-shadow: inset 0px 0px 51px -8px rgba(56,56,56,1);
  -moz-box-shadow: inset 0px 0px 51px -8px rgba(56,56,56,1);
  box-shadow: inset 0px 0px 51px -8px rgba(56,56,56,1);
}
.tv-click{
  z-index: 3;
  cursor: pointer;
}

.gif-container{
  height: 260px;
  width: 80%;
  margin: 0 auto;
  background-color: gray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &.gif-short{
    height: 0;
    .scroll-btn{
      display: none;
    }
  }
  .scroll-btn{
    cursor: pointer;
    height: 100%;
    width: auto;
    padding-top: 120px;
    background: rgba(230,230,230,0.3);
    color: #cdcdcd;
    font-weight: bold;
    &:hover{
      background: rgba(230,230,230,0.6);
    }
  }
}

@media (max-width: 699px)  { @include tv-media(22, 28, 20, 33, 0, 1) }
@media (min-width: 700px)  { @include tv-media(19, 17, 31, 51, 0, 0) }
@media (min-width: 750px)  { @include tv-media(19, 19, 31, 47.5, 0, 0) }
@media (min-width: 800px)  { @include tv-media(19, 21, 31, 44.5, 0, 0) }
@media (min-width: 850px)  { @include tv-media(19, 23, 31.5, 41.5, 0, 0) }
@media (min-width: 900px)  { @include tv-media(19.5, 24.5, 31.5, 39.5, 0, 0) }
@media (min-width: 950px)  { @include tv-media(19.5, 25, 32.5, 38.5, 0, 0) }
@media (min-width: 1000px) { @include tv-media(20, 25, 33, 38.5, 0, 0) }
@media (min-width: 1050px) { @include tv-media(20, 25, 41, 38.5, 0, 0) }
@include portrait {
  @include tv-media(19, 3, 31, 93, 1, 0)
}
@include landscape {
  @include tv-media(19, 23, 48, 45, 0, 0)
}
// @include tablet-portrait {
//   @include tv-media(25, 25, 25, 25, 1, 0)
// }
// @include tablet-landscape {
//   @include tv-media(25, 25, 25, 25, 0, 0)
// }

h1 {
  text-align: center;
}
.detail-list {
  list-style: none;
  padding-left: 0;
  text-align: center;
  li {
    @include cf;
    margin: 10px;
  }
}

#map {
  height: 480px;
  width: 100%;
}

.parallax {
  height: 400px;
  background-image: url('../assets/bg-min.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
