<div class="container" scroll-watch="vm.scroll">
<nav class="navbar navbar-default navbar-fixed-top white">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" scroll-to class="navbar-brand">
        Carolyn &amp; Chase
      </a>
    </div>
    <div class="collapse navbar-collapse" data-toggle="collapse" data-target=".navbar-collapse.in">
      <ul class="nav navbar-nav right">
        <li><a href="#details" target="_self" scroll-to>Wedding Details</a></li>
        <li><a href="#logistics" target="_self" scroll-to>Logistics</a></li>
        <li><a href="#around-town" target="_self" scroll-to>Around Town</a></li>
        <li><a href="#our-story" target="_self" scroll-to>Our Story</a></li>
        <li><a href="#pleasantries" target="_self" scroll-to>Pleasantries</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="main-container">
  <div class="main-bg"></div>
</div>
<div class="tv-bg"></div>
<div class="tv tv-main"></div>
<div class="tv tv-click" ng-click="vm.openModal()"></div>
<div class="spacer"></div>
</div>

<div class="container">
<div class="row" id="details">
  <div class="col-sm-8 col-xs-12 col-sm-offset-2">
    <h1>Wedding Details</h1>
    <p class="center">
      Please join us on the evening of
      Saturday, August 18, 2018<br>
      For the wedding of Carolyn Doherty and Chase Gruber<br>
      Followed by cocktail hour, dinner, and dancing at
      Meridian House<br><br>
      1630 Crescent Place NW<br>
      Washington, D.C. 20009<br><br>
    </p>
    <p class="margin-top-20">
      <b>What should I wear?</b> Comfortable, cool, summer cocktail attire is recommended, particularly since the ceremony will be held outside. Washington, D.C. was built on a swamp, so mid-August can be/is definitely a sweaty mess, but the Meridian House is air conditioned.
    </p>
    <p class="margin-top-20">
      <b>What time should I get to the venue?</b> The ceremony will begin promptly at 5:30PM, so, you do your own math. Chase recommends leaving the hotel at 3:30PM JUST IN CASE BECAUSE YOU NEVER KNOW. But Carolyn does know that you will arrive an hour and 45 minutes early and be forced to sit in the parking lot and roast.
    </p>
    <p class="margin-top-20">
      <b>How should I get to the venue?</b> Should you choose to drive, there is parking at the venue. We will run a few shuttles from the Hotel Madera starting at 4:30PM. Taking a cab or an Uber/Lyft would also work really well.
    </p>
    <p class="margin-top-20">
      <b>Should I snack in advance?</b> Deb will probably have a Babybel cheese in her purse for Carolyn, but, following the ceremony, we will have hors d’oeuvres during cocktail hour, followed by dinner and dessert.
    </p>
    <p class="margin-top-20">
      <b>Should I wear sunscreen?</b> Yes. Generally, you should always wear sunscreen, but definitely for the wedding, because we plan to have the (short) ceremony outside in the gardens of the Meridian House.
    </p>
    <p class="margin-top-20">
      <b>Should I bring a flask?</b> Your call, but the wine and beer will be flowing, along with two delicious specialty cocktails.
    </p>
    <p class="margin-top-20">
      <b>What do I do with my hands?</b> Again, that’s really up to you.
    </p>
  </div>
</div>
</div>

<div class="container">
  <div class="row" id="logistics">
    <div class="col-sm-8 col-xs-12 col-sm-offset-2">
      <h1>Logistics</h1>
      <p class="center">Coming from out of town? D.C. is easy to get to and easy to get around!</p>
      <p class="margin-top-20"><b>Planes</b><br>For our purposes, the best airport to fly into is Ronald Reagan Washington National Airport (DCA). Dulles International Airport (IAD) and Baltimore/Washington International Thurgood Marshall Airport (BWI) are both a bit further away, but still doable, if you don’t mind a 30-45 minute cab/Uber ride.</p>
      <p class="margin-top-20"><b>Trains</b><br>If you prefer to take the train, Amtrak stops right in the heart of D.C. at Union Station.</p>
      <p class="margin-top-20"><b>Automobiles</b><br>Driving is easy, too, and there is parking at both the hotels at which we have room blocks, as well as at the venue.</p>
      <p class="margin-top-20"><b>Accommodations</b><br>We have room blocks at the Kimpton Hotel Madera and the Kimpton Hotel Palomar in Dupont Circle. Dupont Circle is a great spot for food, drink, and activities, and is reasonably close to the wedding venue. Both hotel room blocks will be released in mid-July, so get ‘em while you can.</p><p class="margin-top-10">If you’re feeling adventurous and want to live the Airbnb or VRBO life, but still have easy access to the wedding venue, we recommend staying in the following neighborhoods: Woodley Park, Adams Morgan, Mt. Pleasant, Dupont Circle, and Logan Circle.</p>
    </div>
  </div>
</div>

<div class="container">
<div class="row" id="around-town">
  <div class="col-sm-8 col-xs-12 col-sm-offset-2">
    <h1>Around Town</h1>
    <p>
      We love D.C.! If you’re looking for good spots to eat, drink, and prepare your minds and bodies for Carolyn and Chase to be married, check out the map below.
    </p>
    <p class="margin-top-10">
      And for those who haven’t visited Our Nation’s Capital since your eighth grade class trip, we have also mapped some tourist-y things you might enjoy while you’re here.
    </p>
  </div>
  <div class="col-sm-10 col-xs-12 col-sm-offset-1 margin-top-10">
    <div data-wedding-map></div>
  </div>
</div>
</div>

<div class="container">
<div class="row" id="our-story">
  <div class="col-sm-8 col-xs-12 col-sm-offset-2">
    <h1>Our Story</h1>
    <p>
      It all began with Chase picking up Carolyn for what was originally billed as a group outing to see the critically acclaimed romantic comedy <em>Django: Unchained</em>. The group turned out to be just Chase (Carolyn claims she was tricked; Chase claims he had no knowledge of the so-called "group outing" and was earnestly asking Carolyn out). Not exactly the best movie selection for what was actually a first date many weeks in the making, but Chase put his arm around Carolyn during the (many) (truly) horrifying scenes and Carolyn bought Chase buffalo mac and cheese at Foster’s afterwards. The rest is history.
    </p>
  </div>
</div>
</div>

<div class="container">
<div class="row" id="pleasantries">
  <div class="col-sm-8 col-xs-12 col-sm-offset-2">
    <h1>Pleasantries</h1>
    <p>
      Your good wishes are gift enough for us, but if you would like to give a wedding gift, we are registered at the following locations:
    </p>
  </div>
</div>
</div>

<div class="footer cf">
<div class="right">
  <span>&uarr; back to top</span>
  <a href="#" target="_self" scroll-to class="footer-link">
    <img src="../assets/bear.png" alt="back to top" class="img-responsive">
  </a>
</div>
</div>

<div class="modal fade" id="gifModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" style="margin-top:70px;">
    <div class="modal-content">
      <div class="modal-header cf">
        <p class="lead no-margin left"><b>Thanks for being here!</b></p>
        <button type="button" class="btn btn-default btn-xs right" title="Cancel" data-dismiss="modal" aria-hidden="true">
          <i class="fa fa-times fa-fw"></i>
        </button>
      </div>
      <div class="modal-body cf">
        <p>Drop us a note, and top it with a gif!<br><small>(Please keep it tasteful, our grandmothers might see this thing.)</small></p>
        <form ng-submit="vm.submitGif()">
          <fieldset class="margin-top-10">
            <textarea ng-model="vm.gifForm.message" class="form-control" placeholder="Leave us a message"></textarea>
          </fieldset>
          <fieldset class="margin-top-10">
            <div class="input-group">
              <input type="text" ng-model="vm.gifForm.search" class="form-control" placeholder="Find the perfect gif" ng-change="vm.queryGif(vm.gifForm.search, 0, 0)">
              <span class="input-group-addon" style="padding:0;">
                <img height="40%" src="assets/giphy.png" alt="Powered by Giphy">
              </span>
            </div>
          </fieldset>
          <fieldset class="margin-top-10">
            <p ng-show="vm.noGifs && vm.gifForm.search.length >= 3">Nothing found. Try again.</p>
            <div class="gif-container cf" ng-class="{'gif-short': vm.noGifs}" ng-style="vm.gifForm.style">
              <div class="scroll-btn left" ng-click="vm.scan(-1)" ng-hide="vm.gifForm.index == 0 && vm.gifForm.page == 0">
                <i class="fa fa-fw fa-3x fa-chevron-left"></i>
              </div>
              <div class="scroll-btn right" ng-click="vm.scan(1)">
                <i class="fa fa-fw fa-3x fa-chevron-right"></i>
              </div>
            </div>
          </fieldset>
          <fieldset class="margin-top-10">
            <button class="btn btn-default right" type="submit">Send some <i class="fa fa-heart-o text-danger"></i></button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
