<div class="container" scroll-watch="vm.scroll">
  <nav class="navbar navbar-default navbar-fixed-top white">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" scroll-to class="navbar-brand">
          Carolyn &amp; Chase
        </a>
      </div>
      <div class="collapse navbar-collapse" data-toggle="collapse" data-target=".navbar-collapse.in">
        <ul class="nav navbar-nav right">
          <li><a href="#details" target="_self" scroll-to>Details</a></li>
          <li><a href="#around-town" target="_self" scroll-to>Around Town</a></li>
          <li><a href="#thing-3" target="_self" scroll-to>Thing 3</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="main-container">
    <div class="main-bg"></div>
  </div>
  <div class="tv-bg"></div>
  <div class="tv tv-main"></div>
  <div class="tv tv-click" ng-click="vm.openModal()"></div>
  <div class="spacer"></div>
  <div class="row" id="details">
    <div class="col-xs-12">
      <h1>Details</h1>
      <ul class="detail-list">
        <li><b>Who?</b> Carolyn and Chase</li>
        <li><b>What?</b> A wedding</li>
        <li><b>Where?</b> Washington, DC</li>
        <li><b>When?</b> August 18, 2018</li>
        <li><b>Why?</b> Because love</li>
      </ul>
      <h1>Please join us!</h1>
    </div>
  </div>
  <div class="row" id="around-town">
    <h1>Around Town</h1>
    <div class="col-sm-8 col-xs-12 col-sm-offset-2">
      <p>
        Mrow intently stare at the same spot, for fall asleep on the washing machine so kitten is playing with dead mouse so the dog smells bad. Leave dead animals as gifts cats secretly make all the worlds muffins scratch the furniture mice. Kitten is playing with dead mouse chew on cable howl on top of tall thing, yet chew on cable pee in human's bed until he cleans the litter box, play riveting piece on synthesizer keyboard. Kitty scratches couch bad kitty missing until dinner time, yet bleghbleghvomit my furball really tie the room together behind the couch. Then cats take over the world howl uncontrollably for no reason so run in circles.
      </p>
    </div>
    <div class="col-sm-10 col-xs-12 col-sm-offset-1">
      <div data-wedding-map></div>
    </div>
  </div>
  </div>

  <div class="footer cf">
  <div class="right">
    <span>&uarr; back to top</span>
    <a href="#" target="_self" scroll-to class="footer-link">
      <img src="../assets/bear.png" alt="back to top" class="img-responsive">
    </a>
  </div>
  </div>

  <div class="modal fade" id="gifModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" style="margin-top:70px;">
    <div class="modal-content">
      <div class="modal-header cf">
        <p class="lead no-margin left"><b>Thanks for being here!</b></p>
        <button type="button" class="btn btn-default btn-xs right" title="Cancel" data-dismiss="modal" aria-hidden="true">
          <i class="fa fa-times fa-fw"></i>
        </button>
      </div>
      <div class="modal-body cf">
        <p>Drop us a note, and top it with a gif (keep it tasteful, you animals)</p>
        <form ng-submit="vm.submitGif()">
          <fieldset class="margin-top-10">
            <textarea ng-model="vm.gifForm.message" class="form-control" placeholder="Leave us a message"></textarea>
          </fieldset>
          <fieldset class="margin-top-10">
            <div class="input-group">
              <input type="text" ng-model="vm.gifForm.search" class="form-control" placeholder="Search for the perfect GIF" ng-change="vm.queryGif(vm.gifForm.search, 0, 0)">
              <span class="input-group-addon" style="padding:0;">
                <img height="40%" src="assets/giphy.png" alt="Powered by Giphy">
              </span>
            </div>
          </fieldset>
          <fieldset class="margin-top-10">
            <p ng-show="vm.noGifs && vm.gifForm.search.length >= 3">Nothing found. Try again.</p>
            <div class="gif-container cf" ng-class="{'gif-short': vm.noGifs}" ng-style="vm.gifForm.style">
              <div class="scroll-btn left" ng-click="vm.scan(-1)" ng-hide="vm.gifForm.index == 0 && vm.gifForm.page == 0">
                <i class="fa fa-fw fa-3x fa-chevron-left"></i>
              </div>
              <div class="scroll-btn right" ng-click="vm.scan(1)">
                <i class="fa fa-fw fa-3x fa-chevron-right"></i>
              </div>
            </div>
          </fieldset>
          <fieldset class="margin-top-10">
            <button class="btn btn-default right" type="submit">Send some <i class="fa fa-heart-o text-danger"></i></button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
